subscriptions:
  - id: "00000000-0000-0000-0000-000000000000"
    name: "Example Production Client"
    tags:
      environment: production
      client: example-client

required_tags:
  - environment
  - client
  - service

cost_thresholds:
  idle_resource_daily_usd: 0.10
  scheduling_hours_per_day: 8
